.telecharger-ketouva {
	width: 98%;
	/* max-width:630px;  */
	/* margin:auto; */
}

.affichage-ketouva {
	width: 98%;
	/* max-width:630px;  */
	background-color: white;
	padding: 7px;
	/* margin:auto; */
}