.telecharger-ketouva {
	width: 580px;
	max-width: 100%;
}

.affichage-ketouva {
	width: 580px;
	background-color: white;
	padding: 15px;
	max-width: 100%;
}


.affichage-guet {
	width: 800px;
	max-width: 100%;
}