@font-face {
    font-family: 'ShlomoStam';
    src: url('/font/ShlomoStam.ttf') format('truetype');
}

body
{
    background-color: rgb(230, 230, 230);
}

.lien-1
{
    font-size: 2em;
}

.lien-2
{
    font-size: 1.2em;
}

.meme-ligne
{
    display: inline-flex;
    white-space:nowrap; 
}


.meme-ligne2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.affichage-ketouva
{
    color: rgba(0, 0, 0, 0.77);
    background-color: white;
    font-family: 'ShlomoStam', sans-serif;
    direction: rtl; /* Définit la direction de droite à gauche */
    /* text-align: justify; */
    /* text-align-last: justify; */

}

/* .justified-text {
    text-align: justify;
  } */
  
  .justified-text p {
    text-align: justify;
    /* text-align-last: justify; */
  }